* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Comic Sans MS';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.song-label {
    color: rgb(27, 169, 160);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 6vh;

}

.image-container {
    flex: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#songImage {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
}

#chooseButton {
    background-color: rgba(6, 148, 176, 0.8);
    border: none;
    color: white;
    padding: 30px 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
    font-family: 'Comic Sans MS';
    margin-bottom: 20px;
}

button:active {
    transform: scale(0.98);
}
